@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Inter', sans-serif;
}
.container {
  max-width: 1280px;
  margin: auto;
}

header{
  background-color: #2C2C2C;
  padding: 20px 0 20px 0;
}

.container {
  width: 1300px;
  margin: 0 auto;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header__logo{
  display: flex;
  align-items: center;
}
.header__img{
  width: 85px;
  height: 45px;
  padding-right: 30px;
}
.header__input{
  width: 35%;
  display: flex;

}

.header__input button{
  border-bottom-right-radius: 71px;
  border-top-right-radius: 71px;
  width: 30px;
  background-color: white;
  border: none;
  padding-right:35px ;
}

.header__input input{
  width:  100%;
  padding: 13px;
  background: #FFFFFF;
  border-bottom-left-radius: 71px;
  border-top-left-radius: 71px;
  border: none;
  outline:none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #555555;
}
.header__button{
  display: flex;
  width: 30%;
}
.header__sign{
  width: 100%;
  margin-right: 15px;
}
.header__login{
  width: 100%;

}
.header__sign button{
  background: #FFB84D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2C2C2C;
  width: 100%;
  padding: 14px;
  border: none;
  cursor: pointer;
}
.header__login button{
  background: #FFFFFF;
  border-radius: 38px;
  border: none;
  padding: 14px;
  width: 100%;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2C2C2C;
  cursor: pointer;
  transition: 0.7s;
}
.header__login button:hover{
  background: #adadad;
}
h3{
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  color: #000000;
}
h2{
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  color: #000000;
}
p{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}
main .wrapp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
main .wrapp .right {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin-top: 56px;
  background-color: #F6F6F6;
  padding: 16px;
  border-radius: 10px;
  /* Скрыть изображения по умолчанию */
  /* Вперед иназад кнопки */
  /* Положение "next кнопки" справа */
  /* При наведении курсора добавьте черный цвет фона с немного прозрачным */
  /* Подпись текст */
  /* Номер текста (1/3 и т.д.) */
  /* Точки/пули/индикаторы */
  /* Исчезающая анимация */
}
main .wrapp .right .slideshow-container {
  max-width: 1000px;
  position: relative;
}
main .wrapp .right .mySlides {
  display: none;
}
main .wrapp .right .prev, main .wrapp .right .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
main .wrapp .right .next {
  right: -3px;
  border-radius: 3px 0 0 3px;
}
main .wrapp .right .prev:hover, main .wrapp .right .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
main .wrapp .right .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
main .wrapp .right .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
main .wrapp .right .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
main .wrapp .right .active, main .wrapp .right .dot:hover {
  background-color: #717171;
}
main .wrapp .right .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
main .wrapp .right h3 {
  font-size: 20px;
}
main .wrapp .right p {
  font-size: 14px;
}
main .wrapp .right .stars {
  display: flex;
  justify-content: space-between;
  width: 96px;
  margin-top: 8px;
  margin-bottom: 32px;
}
main .wrapp .left {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  width: 65%;
  margin-right: 25px;
}/*# sourceMappingURL=style.css.map */

#map {
  width: 100%; height: 500px; padding: 0; margin: 0;
}

.teg {
  font-size: 40px;
  margin-top: 48px;
  margin-bottom: 28px;
  font-weight: bold;
}

.customControl {
  display: none;
  background-color: #fff;
  padding: 5px;
  border-radius: 3px;
  max-width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.closeButton {
  flex-basis: 15px;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 3px;
  height: 15px;
  cursor: pointer;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMTQgLjdsLS43LS43TDcgNi4zLjcgMCAwIC43IDYuMyA3IDAgMTMuM2wuNy43TDcgNy43bDYuMyA2LjMuNy0uN0w3LjcgN3oiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==") 50% no-repeat;
  opacity: 0.3;
}

.content {
  padding: 5px;
  max-height: 250px;
  overflow: auto;
}

a, a:visited {
  color: #04b;
  text-decoration: none !important;
}

.sport-club {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.grade {
  text-align: center;
}

.grade .stars img{
  margin-left: 6px;
}

.grade p {
  font-size: 24px;
}

.sport-info {
  display: flex;
  justify-content: left;
}

.sport-info h2 {
  font-size: 32px;
  font-weight: bold;
}

.sport-info .place {
  font-size: 24px;
  font-weight: 400;
}

.sport-info .addres {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
  margin-top: 10px;
}

.sport-info button {
  border: 2px solid #FFB84D;
  background-color: white;
  border-radius: 30px;
  padding: 16px 24px 16px 24px;
  color: #FFB84D;
  font-size: 16px;
  cursor: pointer;
}
.sport-info button a {
  text-decoration: none;
  color: #FFB84D;
}
.slider {
  margin-right: 20px;
}

footer{
  background: #EEEEEE;
  margin-top: 100px;
  padding: 100px;
}

.footer__content {
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo {
  cursor: pointer;
}
.footer__info {
  display: flex;
  align-items: center;
  width: 300px;
}
.footer__info-img {
  align-items: center;
  height: 25px;
}
.footer__info-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  align-items: center;
}
.footer__social {
  display: flex;
  justify-content: space-between;
}
.footer__social img{
  width: 45px;
  padding: 10px;
  cursor: pointer;
}
