*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
}
header{
    background-color: #2C2C2C;
    padding: 20px 0 20px 0;
}

.container {
    width: 1300px;
    margin: 0 auto;
}
.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    display: flex;
    align-items: center;
}
.header__img{
    width: 85px;
    height: 45px;
    padding-right: 30px;
}


.header__input input{
    width: 400px;
    padding: 13px;
    background: #FFFFFF;
    border-radius: 71px;
    border: none;
    outline:none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
}
.header__button button{
    background: #FFFFFF;
    border-radius: 38px;
    border: none;
    padding: 14px;
    width: 160px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #2C2C2C;
}

.info{
    margin-top: 40px;
}
.info__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info__content-img{
    width: 120px;
    height: 30px;
    margin-bottom:15px ;
}
.info__content {
    display: flex;
    flex-direction: column;
    padding-left:30px;

}

.info__content-title {
    padding-bottom: 15px;
}
.info__title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #000000;
    padding-bottom: 5px;
}
.info__text-little {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #555555
}
.info__content-img {
}
.info__content-adress {
    padding-bottom: 15px;
}
.info__text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    padding-top: 10px;
}
.info__content-worktime {
    padding-bottom: 15px;
}
.info__content-description {
    padding-bottom: 30px;
}
.info__button {
}
.choose__btn {
    background: #FFB84D;
    border-radius: 100px;
    border: none;
    padding: 20px;
    width: 300px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    cursor: pointer;
}
.chat__btn {
    background: #F3F3F3;
    border-radius: 100px;
    border: none;
    padding: 20px;
    width: 300px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    cursor: pointer;
}



.video__lesson {
    margin-top: 60px;

}
.video__content {

}
.video__title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    color: #000000;
    padding-bottom: 50px;
}
.video__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.video {
}

.video p{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
}