*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
}
header{
    background-color: #2C2C2C;
    padding: 20px 0 20px 0;
}
input{ 
    outline: none;
}

.container {
    width: 1300px;
    margin: 0 auto;
}
.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.header__logo{
    display: flex;
    align-items: center;
}
.header__img{
    width: 85px;
    height: 45px;
    padding-right: 30px;
}
.header__input{
    width: 35%;
    display: flex;

}
.header__input button{
    border-bottom-right-radius: 71px;
    border-top-right-radius: 71px;
    width: 30px;
    background-color: white;
    border: none;
    padding-right:35px ;
    cursor: pointer;
}

.header__input input{
    width:  100%;
    padding: 13px;
    background: #FFFFFF;
    border-bottom-left-radius: 71px;
    border-top-left-radius: 71px;
    border: none;
    outline:none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
}
.header__button{
    display: flex;
    width: 30%;
}
.header__sign{
    width: 100%;
    margin-right: 15px;

  }
.header__login{
    width: 100%;
}
.header__sign button{
    background: #FFB84D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #2C2C2C;
    width: 100%;
    padding: 14px;
    border: none;
    cursor: pointer;
  }
.header__login button{
    background: #FFFFFF;
    border-radius: 38px;
    border: none;
    padding: 14px;
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #2C2C2C;
    cursor: pointer;
    transition: 0.7s;
}
.header__login button:hover{
    background: #adadad;
}
.popup {
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.701);
    display: none;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    transition: .8s;
    padding-top: 150px;
  }
  .popup__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .last label {
    border: #DBDBDB solid 1px;
    display: block;
    border-radius: 10px;
    max-width: 540px;
    padding: 10px 10px 0px 18px;
    margin-top: 24px;
  }
  
  .task label {
    border: #DBDBDB solid 1px;
    display: block;
    border-radius: 10px;
    max-width: 540px;
    padding: 10px 10px 0px 18px;
    margin-top: 24px;
  }
  
  .Tea label {
    border: #DBDBDB solid 1px;
    display: block;
    border-radius: 10px;
    max-width: 540px;
    padding: 10px 10px 0px 18px;
    margin-top: 24px;
  }
  
  .Tea input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-left: -10px;
    border: none;
  }
  
  .Tea button {
    display: block;
    margin-top: 45px;
    height: 45px;
    width: 100%;
    background-color: #FFB84D;
    border-radius: 10px;
    border: none;
    transition: .8s;
  }
  
  ::placeholder .Tea {
    color: #8E8E8E;
  }
  
  .popup.open-popup,
  .popupe.open-popupe,
  .ppopup.open-ppopup
  {
    opacity: 1;
    visibility: visible;
    display: block;
  }
  
  .last div {
    display: flex;
    justify-content: space-between;
  }
  
  .book label{
    width: 45% ;
    
  }
  
  
  .task input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-left: -10px;
    border: none;
  
  }
  
  .popupe {
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.701);
    display: none;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    transition: .8s;
    padding-top: 150px;
}
  
  .task button {
    display: block;
    margin-top: 45px;
    height: 45px;
    width: 100%;
    background-color: #FFB84D;
    border-radius: 10px;
    border: none;
    transition: .8s;
  }
  
  .popupe-content {
    max-width: 500px;
    background-color: #FFFFFF;
    padding: 30px;
    position: relative;
    margin: 10px auto;
    border-radius: 15px;
  }
  .popupe-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .popup-content {
    max-width: 500px;
    background-color: #FFFFFF;
    padding: 30px;
    position: relative;
    margin: 70px auto;
    border-radius: 15px;
  }
  
  .popupe-close {
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .popup-close {
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
  }
  
  .last input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-left: -10px;
    border: none;
  }
  
  .ppopup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.701);
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
  }
  
  
  .ppopup-content {
    max-width: 500px;
    background-color: #FFFFFF;
    padding: 30px;
    position: relative;
    border-radius: 15px;
    margin: 200px auto;
  }
  .ppopupe__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .last button {
    display: block;
    margin-top: 45px;
    height: 45px;
    width: 100%;
    background-color: #FFB84D;
    border-radius: 10px;
    border: none;
    transition: .8s;
  }
  
  .ppopup-close {
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
  }
.info{
    margin-top: 100px;
}
.info__main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.info__img{
    width: 60%;
    position: relative;
    margin-top: 30px;
}

.info__content-img{
    width: 120px;
    height: 30px;
    margin-bottom:15px ;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px 16px 16px 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
.next {
    border-radius: 3px 0 0 3px;
    right: 0;
}


.mySlides {
    display: none;
    width: 100%;
}
.mySlides img{
    width: 100%;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
.info__content {
    display: flex;
    flex-direction: column;
    padding-left:30px;
    width: 40%;

}

.info__content-title {
    padding-bottom: 5px;
}
.info__title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #000000;
    padding-bottom: 5px;
}


.rating{
    display: inline-flex;
    flex-direction: row-reverse;
    display: flex;
    justify-content: left;
    padding-bottom: 5px;
}
.rating__item{
    font-size: 30px;
    color: rgb(161, 159, 159);
    cursor: pointer;
    margin-right:5px ;
}


.rating__item:hover,
.rating__item:hover ~ .rating__item{
    color: #555555;
}

.rating[data-total-value = "1"] .rating__item:nth-child(n+5),
.rating[data-total-value = "2"] .rating__item:nth-child(n+4),
.rating[data-total-value = "3"] .rating__item:nth-child(n+3),
.rating[data-total-value = "4"] .rating__item:nth-child(n+2),
.rating[data-total-value = "5"] .rating__item:nth-child(n+1){
    color: #eba640;
}
.info__text-little {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #555555
}
.info__content-img {
}
.info__content-adress {
    padding-bottom: 15px;
}
.info__text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    padding-top: 10px;
}
.info__content-worktime {
    padding-bottom: 15px;
}
.info__content-description {
    padding-bottom: 30px;
}
.info__button {
}
.choose__btn {
    background: #FFB84D;
    border-radius: 100px;
    border: none;
    padding: 20px;
    width: 300px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    cursor: pointer;
    transition: 0.7s;
}

.choose__btn:hover{
    background: #eba640;
}
.chat__btn {
    background: #F3F3F3;
    border-radius: 100px;
    border: none;
    padding: 20px;
    width: 300px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    cursor: pointer;
    transition: 0.7s;
}
.chat__btn:hover{
    background: #b4b4b4;
}
.chat{
    display: none;
}
.active{
    display: block;
    width: 300px;
    background-color: #555555;
    height: 500px;
    border-radius:10px ;
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 0;
}
.chat__content{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
    align-items: center;
}
.chat__title{
    text-align: center;
    padding-top:10px ;
}
.chat-close {
    background-color:#555555; ;
    border: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    padding-top:10px ;
    cursor: pointer;
}
.chat-close img{
    width: 30px;
    height: 30px;
}
.chat__title p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #fff;
}
.chat__window{
    background-color: white;
    height: 400px;
    margin: 0 10px;
    border-radius: 5px;
    width: 290px;
}
.chat__input{
    margin-bottom: 5px;
}
.chat__input input{
    width: 290px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.video__lesson {
    margin-top: 60px;

}
.video__content {

}
.video__title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    color: #000000;
    padding-bottom: 50px;
}
.video__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.video {
    cursor: pointer;
    width: 30%;
}

.video p{
    padding-top: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 29px;
    color: #000000;
}

.workout{
    margin-top: 100px;
}

.workout__content {

}
.workout__title{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    color: #000000;
    padding-bottom: 30px;
}
.workout__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.workout__item {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 15px;
    width: 270px;
}
.item__time {
    padding-bottom: 10px;
    
}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    display: inline-block;
}
.item__title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    padding-bottom: 10px;
}
.item__button {
    background: #FFFFFF;
    border: 2px solid #FFB84D;
    border-radius: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFB84D;
    padding: 10px;
    cursor: pointer;
}



.places {
    margin-top: 100px;
}
.places__content {
}
.places__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    color: #000000;
    margin-bottom: 50px;
}
.places__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.place {
    display: flex;
    flex-direction: column;
    width: 300px;

}
.place__img {
    padding-bottom: 30px;
}
.place__img img{
    width: 100%;
}
.place__title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.place__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
}
.place__button {
    background: #FFFFFF;
    border: 2px solid #FFB84D;
    border-radius: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFB84D;
    padding: 10px;
    margin-top: 20px;
    width: 250px;
    cursor: pointer;
}


footer{
    background: #EEEEEE;
    margin-top: 100px;
    padding: 100px;
}

.footer__content {
}
.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__logo {
    cursor: pointer;
}
.footer__info {
    display: flex;
    align-items: center;
    width: 300px;
}
.footer__info-img {
    align-items: center;
    height: 25px;
}
.footer__info-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    align-items: center;
}
.footer__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__social img{
    width: 45px;
    padding: 10px;
    cursor: pointer;
}


@media(max-width:1420px){
    .container{
        max-width: 90%;
    }
    .video{
        width: 30%;
    }
    .video img{
        width: 100%;
    }
}

@media(max-width:1160px){

    .container{
        max-width: 80%;
    }
    .info__main{
        max-width: 800px;
        align-items: center;
    }
    .info__img{
        width: 90%;
        order: 2;
    }
    .info__content{
        width: 80%;
        order: 1;
    }
    .video__row{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .video{
        width: 70%;
    }
    .mySlides img{
        width: 100%;
    }

}

@media(max-width:1142px){
    .info__button{
        display: block;
    }
    .places__row{
        justify-content: space-around;
        align-items: center;
    }
    .place{

    }
    .place{
        margin-bottom:30px ;
    }
    .workout__row{
        justify-content: space-around;
        align-items: center;
    }
}
@media(max-width:936px){
    .header__sign button{
        width: 130px;
    }
    .video__title{
        text-align: center;
    }
    .workout__title{
        text-align: center;
    }
    .info__main{
        justify-content: center;
        align-items: center;
    }
    .footer__row{
        flex-direction: column;
    }
    .footer__info-text{
        margin: 30px 0;
    }
}
@media(max-width:802px){

    .header__input{
        width: 180px;
    }
    .header__login{
        margin: 10px 0;
    }
    .video__title{
        text-align: center;
    }
    .workout__title{
        text-align: center;
    }
    .header__input{
        margin-top: 20px;
        width: 300px;
    }
    .header__row{
        flex-direction: column;
        align-items: center;
    }
    .header__sign{
        margin-top: 20px;
        width: 180px;
        margin-right: 0;
    }
    .header__login{
        margin-top: 20px;
        width: 180px;
        margin-left: 30px;
    }
    .header__sign button{
        width: 180px;
    }
    .header__button{
        width: 400px;
        display: flex;
    }

}
@media(max-width:513px){
    .workout__item{
        align-items: center;
    }
    .item__title{
        text-align: center;
    }
    .header__row{
        flex-direction: column;
        align-items: center;
    }
    .header__sign{
        margin-top: 20px;
        width: 180px;
        margin-right: 0;
    }
    .header__button{
        display: flex;
        flex-direction: column;
    }
    .header__login{
        margin-top: 20px;
        width: 180px;
        margin-left: 0;
    }
    .header__sign button{
        width: 180px;
    }
    .info__button{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .header__button{
        width: 200px;
        display: flex;
        align-items: center;
    }
    .header__input{
        max-width: 70%;
    }
}
